<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그림 그리기</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/canvas.css}" rel="stylesheet" />
    <link href="/static/css/canvas.css" rel="stylesheet" />
    <style>

        #thumbnailContainer input[type="range"] {
            width: 100%;
            margin: 10px 0;
        }

        #sizeSlider {
            width: 100%;
            margin: 10px 0;
        }

    </style>

</head>
<body class="d-flex flex-column align-items-center justify-content-center">

<div class="container">
    <div id="canvasContainer" class="col-12">
        <canvas id="imageCanvas"></canvas>
        <canvas id="canvas"></canvas>

        <div id="palette" class="d-flex flex-wrap justify-content-center">
            <!-- 기존 팔레트 코드 유지 -->
            <span class="red">red</span>
            <span class="orange">orange</span>
            <span class="yellow">yellow</span>
            <span class="green">green</span>
            <span class="blue">blue</span>
            <span class="navy">navy</span>
            <span class="purple">purple</span>
            <span class="black">black</span>
            <span class="white">white</span>
            <span class="clear">clear</span>
            <span class="fill">fill</span>
            <span class="undo">취소</span>
            <span class="redo">복구</span>
            <span class="drawBtn">선 긋기</span>


        </div>

        <div id="lineWidthSlider">

            <input type="range" min="1" max="20" value="3" class="slider">
            <p> Size: <span id="sliderValue">3</span> px </p>
        </div>


        <div id="thumbnailContainer">
            <!-- 여기서 섬네일 이미지들이 보여질 예정 -->
            <div id="thumbnails"></div>

            <input id="sizeSlider" type="range" min="50" max="300" value="200">
            <p> Size: <span id="imgSliderValue">200</span> px </p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6 text-right">
            <button id="downloadBtn" class="btn btn-primary">Download Image</button>
        </div>
        <div class="col-6 text-left">
            <button id="uploadBtn" class="btn btn-success">Upload Image</button>
        </div>
    </div>
</div>

<script th:inline="javascript">
    let myValue = /*[[@{${backgroundImage}}]]*/ '';
</script>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="/js/canvasLogic.js"></script>
<script src="/static/js/canvasLogic.js"></script>


</body>
</html>
