<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그림 그리기</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/canvas.css}" rel="stylesheet" />
    <link href="/static/css/canvas.css" rel="stylesheet" />


</head>
<body class="d-flex flex-column align-items-center justify-content-center">

<div class="container">
    <div id="canvasContainer" class="col-12">

        <canvas id="canvas"></canvas>
        <div id="palette" class="d-flex flex-wrap justify-content-center">
            <span class="red">red</span>
            <span class="orange">orange</span>
            <span class="yellow">yellow</span>
            <span class="green">green</span>
            <span class="blue">blue</span>
            <span class="navy">navy</span>
            <span class="purple">purple</span>
            <span class="black">black</span>
            <span class="white">white</span>
            <span class="clear">clear</span>
            <span class="fill">fill</span>
            <span class="undo">실행취소</span>
            <span class="redo">복구</span>

        </div>
        <div id="lineWidthSlider">

            <input type="range" min="1" max="20" value="3" class="slider">
            <p> Size: <span id="sliderValue">3</span> px </p>
        </div>

    </div>

    <div class="row mt-3">

        <div class="col-6 text-right">
            <button id="downloadBtn" class="btn btn-primary">Download Image</button>
        </div>
        <div class="col-6 text-left">
            <button id="uploadBtn" class="btn btn-success">Upload Image</button>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    const canvas = document.querySelector("#canvas");
    const ctx = canvas.getContext("2d");
    const sliderValue = document.getElementById('sliderValue');

    let isSave = 0;


    function resizeCanvas() {
        // 캔버스의 컨테이너 크기에 맞춰 캔버스 크기 조정
        const container = document.querySelector("#canvasContainer");

        canvas.width = 600;
        canvas.height = 600;
    }

    window.addEventListener('resize', resizeCanvas);
    resizeCanvas();

    let painting = false;

    function stopPainting() {
        painting = false;
        isSave = 0;
    }

    function startPainting() {
        painting = true;

    }

    ctx.lineWidth = 3;

    function onMouseMove(event) {

        const x = event.offsetX;
        const y = event.offsetY;

        if (!painting) {
            ctx.beginPath();
            ctx.moveTo(x, y);
        } else {
            ctx.lineTo(x, y);
            ctx.stroke();
        }
    }

    canvas.addEventListener("mousemove", onMouseMove);
    canvas.addEventListener("mousedown", startPainting);
    canvas.addEventListener("mousedown", saveState);

    canvas.addEventListener("mouseup", stopPainting);
    canvas.addEventListener("mouseleave", stopPainting);

    const buttons = [
        "red", "orange", "yellow", "green", "blue",
        "navy", "purple", "black", "white", "clear",
        "fill", "undo", "redo"
    ];
    let lineColor = "black";

    buttons.forEach((color) => {
        const button = document.querySelector(`.${color}`);
        button.style.background = (color === "clear" || color === "fill") ? "rgba(100,100,100,0.2)" : color;
        button.onclick = () => {
            ctx.strokeStyle = color;
            lineColor = color;
        };
    });

    document.querySelector(".clear").onclick = () => {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
    };

    document.querySelector(".fill").onclick = () => {
        ctx.fillStyle = lineColor;
        ctx.fillRect(0, 0, canvas.width, canvas.height);
    };
    document.querySelector(".undo").onclick = () => {
        console.log(undoStack.length);
        restoreState(undoStack, redoStack);
    };

    document.querySelector(".redo").onclick = () => {
        restoreState(redoStack, undoStack);
    };



    //꽃 사진 저장
    function downloadImage() {
        const image = canvas.toDataURL('image/png');
        const link = document.createElement('a');
        link.href = image;
        link.download = 'canvas-image.png';
        link.click();
    }

    const downloadBtn = document.getElementById('downloadBtn');
    downloadBtn.addEventListener('click', downloadImage);


    //꽃 사진 전달
    function sendImageToServer() {

        const dataURL = canvas.toDataURL();  // Get the data URL of the canvas image
        alert(dataURL);
        localStorage.removeItem('savedImage')
        localStorage.setItem('savedImage', dataURL);  // Save it to localStorage
        alert('Image saved!');
        window.location.href = '/flower/selectPackage';

    }

    const uploadBtn = document.getElementById('uploadBtn');
    uploadBtn.addEventListener('click', sendImageToServer);

    // 슬라이드바 로직
    const lineWidthSlider = document.getElementById('lineWidthSlider');
    lineWidthSlider.addEventListener('input', (event) => {
        ctx.lineWidth = event.target.value;
        sliderValue.textContent = event.target.value;
    });


    //실행 취소 기능 임시
    let undoStack = [];
    let redoStack = [];

    function saveState() {

        if(isSave == 0){
            console.log(undoStack.length);
            console.log("저장")
            isSave = 1;
            undoStack.push(canvas.toDataURL());
        }
        //redoStack = []; // 새로운 작업이 발생하면 redoStack 초기화
    }

    function restoreState(stack, oppositeStack) {
        if (stack.length > 0) {
            oppositeStack.push(canvas.toDataURL());
            const imgData = stack.pop();
            const img = new Image();
            img.src = imgData;
            img.onload = () => {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.drawImage(img, 0, 0);
            };
        }
    }


</script>
</body>
</html>
